body{
    margin: 0 auto;
    font-family: Hedvig Letters Serif;
    background: rgb(38,108,22);
    background: radial-gradient(circle, rgba(38,108,22,1) 0%, rgba(135,234,136,1) 100%, rgba(0,212,255,1) 100%);
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

ul{
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    color: black;
    transition-duration:  .5;
    height: 100%;
    background-color: #FAEBD7;
    text-transform: uppercase;
    padding: 25px;
}

nav a:hover{
    background-color: skyblue;
}

.selected{
    background-color: grey;
}

.selected:hover{
    background-color: grey;
}

nav li{
    height: 100%;
}

nav{
    background-color: #FAEBD7;
}

.home-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 25px 0;
    height: 100%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 38px;
}

a, p{
    font-size: 20px;
}

header, section, footer{
    padding: 50px 0;
    text-align: center;
}

header{
    padding-top: 0;
    margin-top: 0;
}

#acerca-de-mi .image-container{
    margin: 0 auto;
    width: 60%;

}
img{
    width: 100%;
}

#mis-photos .image-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#photo1, #photo2{ 
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}